---
const { frontmatter } = Astro.props;
---
<h1>{frontmatter.title}</h1>
<p>Published on: {frontmatter.pubDate.slice(0,10)}</p>
<p>Written by {frontmatter.author}</p>
<slot />
<footer>
    <a href="/" target="_blank">Home</a>
    <a href="/blog" target="_blank">Back</a>
 </footer>